---
title: Uncle Uncool Lists
layout: body.njk
atHome: true
---
{% import "layouts/macros.njk" as mymacros %}

<div class="tc">
  <p>
    This site contains an inventory of my stash of scale model kits and aftermarket items.
    It is for my personal use only.
  </p>
  <p class="bold">
    Nothing on this site is for sale.
  </p>
</div>

<div class="row-parent">
  <div class="column">
    <div class="mb-3">
      <div><a class="embedded-link" href="decals.html">Decals</a></div>
      <div><a class="embedded-link" href="kits.html">Kits in boxes</a></div>
      <div><a class="embedded-link" href="resin.html">Resin</a></div>
      <div><a class="embedded-link" href="canopies.html">Canopies</a></div>
      <div><a class="embedded-link" href="masks.html">Masks</a></div>
      <div><a class="embedded-link" href="ezmasks.html">EZ Masks</a></div>
      <div><a class="embedded-link" href="horizon.html">Horizon kits</a></div>
      <div><a class="embedded-link" href="toybiz.html">Toy Biz kits</a></div>
      <div><a class="embedded-link" href="gandp.html">Girls und Panzer kits</a></div>
    </div>
  </div>
</div>
